doctype html
html 
    head
        title Eval me

        script(src="bower_components/jquery/dist/jquery.js")
        script(src="public/scripts/worker-wrapper.js")
        script(src="public/scripts/scheduler.js")
            
        block head
    body
        block content