doctype html
html 
    head
        title Eval me

        script(src="public/scripts/worker-wrapper.js")
        script(src="public/scripts/scheduler.js")
        script.
            var WORKERS = 1;
            var sch = new Scheduler(WORKERS);
            setTimeout(function() {
                for (var work = 0; work < WORKERS; ++work) {
                    sch.eval(function __z() {
                        setInterval(function() {
                            console.log('sssssssssss');
                        }, 100);
                    }.toString(), function(result, error) {
                        if (!error) {
                            console.log('Result = ', result);
                        } else {
                            console.log('Error = ', error);
                        }
                    });
                }
            }, 500);
    body
        block content